{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}
    <div class="container ">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div style="background:rgba(255,31,9,0.2) !important" class="jumbotron">
            <h1>Bem-vindo, {{ user['nm_name'] }}</h1>
            <p>O que gostaria de fazer?</p>
            <div class="list-group">
                <a href="{{ url_for('index.show', id=user['id']) }}" class="list-group-item list-group-item-action">Consultar conta</a>
                <a href="{{ url_for('index.sales', id=user['id']) }}" class="list-group-item list-group-item-action">Consultar faturas</a>
                <a href="{{ url_for('index.showinsert', id=user['id']) }}" class="list-group-item list-group-item-action">Inserir compra</a>
                <a href="javascript:history.back()" class="list-group-item list-group-item-action">Sair</a>
            </div>
        </div>
    </div>


{%- endblock %}