{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="container ">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div style="background:rgba(255,31,9,0.2) !important" class="jumbotron">
            <h1>Erro! Tente novamente!</h1>
        </div>
    </div>
{%- endblock %}