{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="container ">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div style="background:rgba(255,31,9,0.2) !important" class="jumbotron">
            <h1>Todas Entradas - 2019</h1>

            <p>Filtre pelo Mês</p>
            <form action="http://127.0.0.1:5000/loginuser" method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputMonth">Mês</label>
                        <select id="inputMonth" class="form-control">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">

                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Valor Compra</th>
                        <th scope="col">Parcela</th>
                        <th scope="col">Valor Parcela</th>
                        <th scope="col">Data da Compra</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in range(0,tamanho) %}
                        <tr>
                            <th scope="row">{{ sales[s]['id'] }}</th>
                            <td>R$ {{ sales[s]['vn_total'] }}</td>
                            <td>{{ sales[s]['vn_dividers'] }}</td>
                            <td>R$ {{ sales[s]['vn_parcela'] }}</td>
                            <td>{{ sales[s]['dt_sale'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%- endblock %}