{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="container ">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div style="background:rgba(255,31,9,0.2) !important" class="jumbotron">
            <h1>{{ user['nm_name'] }}</h1>
            <form>
                <h3>Dados da Conta</h3>
                <!-- Group: Agencia, Conta -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Agência</label>
                        <input disabled=disabled type="text" class="form-control" id="inputName" value="{{ account['ds_agency'] }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Conta</label>
                        <input type="email" disabled=disabled class="form-control" id="inputEmail" value="{{ account['ds_account'] }}-{{ account['ds_digit'] }}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Cartão</label>
                        <input disabled=disabled type="text" class="form-control" id="inputName" value="**** **** **** {{ account['ds_card'][-4:] }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail">Codigo de segurança</label>
                        <input type="email" disabled=disabled class="form-control"id="inputEmail" value="{{ account['ds_security'] }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail">Data de Validade</label>
                        <input type="email" disabled=disabled class="form-control" id="inputEmail" value="{{ account['dt_validate'] }}">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Dia de Fechamento</label>
                        <input disabled=disabled type="text" class="form-control" id="inputName" value="01">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Dia de Vencimento da Fatura</label>
                        <input type="email" disabled=disabled class="form-control" id="inputEmail" value="10">
                    </div>
                </div>

                <h3>Dados Pessoais</h3>
                <!-- Group: Name -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Nome Completo</label>
                        <input disabled=disabled type="text" class="form-control" name="inputName" id="inputName" value="{{ user['nm_name'] }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" disabled=disabled class="form-control" name="inputEmail" id="inputEmail" value="{{ user['nm_email'] }}">
                    </div>
                </div>

                <!-- Group: CPF e Senha -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCPF">CPF</label>
                        <input type="text" class="form-control" name="inputCPF" id="inputCPF" disabled=disabled value="{{ user['nm_cpf'] }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPhone">Telefone</label>
                        <input type="text" class="form-control" name="inputPhone" id="inputPhone" disabled=disabled value="{{ user['nm_telefone'] }}">
                    </div>
                </div>

                <!-- Group: Endereço -->
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Endereço</label>
                        <input type="text" class="form-control" id="inputAddress" disabled=disabled value="{{ address['nm_local'] }}">
                    </div>
                </div>

                <!-- Group: Bairro, Cidade, Estado -->
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputBairro">Bairro</label>
                        <input type="text" class="form-control" id="inputBairro" disabled="disabled" value="{{ address['nm_bairro'] }}">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputCity">Cidade</label>
                        <input type="text" class="form-control" id="inputCity" disabled="disabled" value="{{ address['nm_city'] }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputState">Estado</label>
                        <select id="inputState" class="form-control" disabled="disabled">
                            <option>{{ address['nm_state'] }}</option>
                        </select>
                    </div>
                </div>
                <a type="button" href="javascript:history.back()" class="btn btn-danger">Voltar</a>
            </form>
        </div>
    </div>
{%- endblock %}